<%= form_for(@original_table) do |f| %>
  <div class="form-group">
    <%= f.label(:name, for: 'inputName') %>
    <% if name_changeable %>
      <%= f.text_field(:name, class: 'form-control', required: true, id: 'inputName') %>
    <% else %>
      <%= f.text_field(:name, class: 'form-control-plaintext', readonly: true, id: 'inputName', 'aria-describedby': 'nameHelpBlock') %>
      <div class="form-text" id="nameHelpBlock">表の名前を変更することは出来ません。</div>
    <% end %>
  </div>

  <div class="form-check">
    <%= f.check_box(:public, class: 'form-check-input', id: 'checkPublic') %>
    <%= f.label(:public, class: 'form-check-label', for: 'checkPublic', 'aria-descrivedby': 'publicHelpBlock') %>
    <div class="form-text" id="publicHelpBlock">他の利用者にも使用可能にするにはチェックを入れてください。</div>
  </div>

  <div class="form-group">
    <%= f.label(:definition, for: 'textDefinition') %>
    <%= f.text_area(:definition, class: 'form-control', rows: 10, required: true, id: 'textDefinition', 'aria-describedby': 'definitionHelpBlock') %>
    <div class="form-text" id="definitionHelpBlock">1行に表の1項目を書いてください。</div>
  </div>

  <div class="form-group">
    <%= f.submit(class: 'btn btn-success') %>
  </div>
<% end %>
