<div class="container main-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="page-header">
            <h1>オリジナル表</h1>
          </div>

          <% if(user_signed_in?) %>
            <p><%= link_to('新規作成', new_original_table_path, class: 'btn btn-responsible btn-success') %></p>
          <% end %>

          <table class="table table-striped original-table-list">
            <thead>
              <tr>
                <th>名前</th>
                <th>作者</th>
                <th>最終更新日</th>
                <th>公開状態</th>
              </tr>
            </thead>
            <tbody>
              <% @original_tables.each do |original_table| %>
                <tr>
                  <td><%= link_to(original_table.name, original_table) %></td>
                  <td><%= original_table.user.username %></td>
                  <td><%= original_table.updated_at %></td>
                  <td><%= original_table.public ? '公開中' : '非公開' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
