<div class="container main-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="page-header">
            <h1>オリジナル表情報</h1>
          </div>

          <table class="table table-striped">
            <tbody>
              <tr>
                <th>名前</th>
                <td><%= @original_table.name %></td>
              </tr>
              <tr>
                <th>作者</th>
                <td><%= @original_table.user.username %></td>
              </tr>
              <tr>
                <th>公開状態</th>
                <td><%= @original_table.public ? '公開中' : '非公開' %></td>
              </tr>
              <tr>
                <th>作成日</th>
                <td><%= @original_table.created_at %></td>
              </tr>
              <tr>
                <th>最終更新日</th>
                <td><%= @original_table.updated_at %></td>
              </tr>
            </tbody>
          </table>

          <h2>表の中身</h2>
          <table class="table table-striped">
            <tbody>
              <% @original_table.elements.each do |element| %>
                <tr><td><%= element %></td></tr>
              <% end %>
            </tbody>
          </table>

          <p>
            <%= link_to('編集', edit_original_table_path, class: 'btn btn-responsible btn-default') %>
            <%= link_to('削除', original_table_path, method: :delete, class: 'btn btn-responsible btn-default') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
